<%- include("head") %>

<main class="d-flex align-items-center justify-content-center vh-100">
  <div>
    <form action="/" method="post">
      <img src="images/Logo.png" alt="Lyes MERSEL LOGO">
      <h1>Sign Up to My Newsletter</h1>
      <input class="form-control" type="email" name="inputEmail" placeholder="Email Adress" required autofocus>
      <input class="form-control" type="text" name="inputFirstName" placeholder="First Name" required>
      <input class="form-control" type="text" name="inputLastName" placeholder="Last Name" required>
      <button class="submit-button btn btn-lg btn-primary" type="submit">Sign Me Up !</button>
      <p class="text-muted">&copy; Lyes MERSEL</p>
    </form>
  </div>
</main>

<%- include("foot") %>
